body{
    background-color: rgb(206, 233, 190);
}

h1{
    font-weight: bold;
    color: forestgreen;
    font-style: italic;
}

h2{
    font-weight: bold;
    color: forestgreen;
}

h3{
    font-weight: bold;
    color: forestgreen;
}

.content{
    position: absolute;
    width: 95%;
    border: 2px darkgreen;
    border-radius: 10px;
}

.slides{
    position: absolute;
    left: 5px;
    width: 30%;
    border: 1px darkgreen;
}

.game{
    position: absolute;
    right: 5px;
    width: 30%;
    border: 1px darkgreen;
}
