body{
    background-color: rgb(206, 233, 190);
}

h1{
    font-weight: bold;
    color: forestgreen;
    font-style: italic;
}

h2{
    font-weight: bold;
    color: forestgreen;
}

h3{
    font-weight: bold;
    color: forestgreen;
}

.content{
    position: absolute;
    height: 75%;
    width: 95%;
    border: 2px darkgreen solid;
    border-radius: 10px;
}

.slides{
    position: absolute;
    left: 5px;
    height: 50%;
    width: 30%;
    border: 1px darkgreen dotted;
}

.game{
    position: absolute;
    right: 5px;
    height: 50%;
    width: 30%;
    border: 1px darkgreen dotted;
}
a:link {
  color: black;
  background-color: white;
  border: 2px #5F8575 dotted;
}

a:visited {
  color: #00A36C;
  background-color: whitesmoke;
  text-decoration: bold;
    border: 2px #C1E1C1 dotted;
}

a:hover {
  color: white;
  background-color: #9FE2BF;
  text-decoration: underline;
    border: 2px #008080 dotted;
}

a:active {
  color: #5F9EA0;
  background-color: transparent;
  text-decoration: underline;
    border: 2px black dotted;
}
